:root {
    --cyanAH: #45c5f3;
    --grayAH: #6d6d6d;
    --text: #3b3b3b;
    --title: #252525;
    --white: #fbfafa;
    --offWhite: #f3f3f3;
}

::selection {
    background-color: var(--cyanAH);
    color: var(--grayAH);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--white);
}


nav {
    background-color: var(--offWhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 1px 35px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navLogo {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navLogo h1 {
    font-family: "Inter";
    font-size: 30px;
    color: var(--title)
}

.navLogo span {
    color: var(--cyanAH);
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 40px;
}


.navLinks a {
    color: var(--text);
    font-size: 16px;
    font-family: "Inter";
    transition: all .18s ease;
}

.navLinks a:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.navCad {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navCad a {
    font-size: 18px;
    font-weight: 700;
    font-family: "Inter";
    text-decoration: none;
    color: var(--cyanAH);
    transition: all .18s ease-in-out;
}

.navCad a:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.navCad button {
    padding: 10px 15px;
    background-color: var(--cyanAH);
    border: none;
    border-radius: 30px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    transition: all .18s ease;
}

.navCad button:hover {
    transform: translateY(2px);
    cursor: pointer;
}

/* TOP CONTENT */

.topContent {
    padding: 100px 200px;
}

.topContent h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Inter";
    color: var(--title);
}

.topContent span {
    font-style: italic;
    font-weight: 1000;
    color: var(--cyanAH);
}

.topContent p {
    text-align: center;
    color: var(--grayAH);
    font-family: "Inter";
    font-size: 18px;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background-color: var(--white);
    border-radius: 30px;
    gap: 10px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 50px auto;
}

.searchBar img {
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.searchBar input {
    border: none;
    background-color: var(--white);
    padding: 10px;
    font-family: "Inter";
}

.searchBar input:focus {
    outline: none;
    border-bottom: 1px solid var(--title);
}

.searchBar input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.searchBar button {
    padding: 10px 15px;
    background-color: var(--cyanAH);
    border: none;
    border-radius: 30px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    transition: all .18s ease;
}

.searchBar button:hover {
    transform: translateY(3px);
    cursor: pointer;
}